*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.mobile-screen{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 95vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
}


nav{
    display: flex;
    justify-content: space-between;
}

.icon{
    font-size: 25px;
    margin: 20px;
    margin-bottom: 10px;
}

.contant{
    height: 150px;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(235, 235, 255, 0.638);
    display: flex;
    flex-direction: column;
}

.bank-bal{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 0px;
}

.bank-icon{
    margin-right: 10px;
}

.ballance-card{
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.rupee-ico{
    font-size: 30px;
}

.balance{
    font-size: 45px;
}

.bank{
    margin-left: 15px;
}

.bank>p{
    font-size: 12px;
}

.contant-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.transiction-nav{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history{
    font-size: 20px;
    font-weight: 400;
}

.seeall{
    color: blue;
}

.transictions{
    margin-left: 15px;
    margin-right: 15px;
}

.img{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(197, 197, 197, 0.825);
    border-radius: 50%;
    background-color: rgba(240, 240, 240, 0.792);
}

.img>img{
    width: 27px;
}

.tr-1{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-cont{
    display: flex;
    justify-content: space-between;
    gap: 105px;
}

.text-4{
    color: red;
}

.text-3{
    text-align: end;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63px;
}

.box>input{
    height: 30px;
    border: none;
    width: 300px;
    margin-right: 20px;
}